nav input,
nav{
    font-family: 'Nanum Gothic', sans-serif;
}

a.navbar-brand{
    font-family: 'Indie Flower', cursive;
}

a.navbar-brand{
    font-size: 2em;
}

.btn-outline-success {
    color: #75ccff;
    background-color: transparent;
    background-image: none;
    border-color: #758eff;
}

.crazyTxt{
    color: red;
    font-size: .5em;
}