h4{
    font-family: 'Indie Flower', cursive;
    padding: 1em;
    padding-left: 1.8em;
}

ul li{
    list-style: none;
    padding: 1em;
    display: inline-block;
}

ul li:hover{
    cursor: pointer;

}

.thumnail{
    opacity: .8;
    width: 7em;
    height: 7em;
    border: 2px solid rgb(223, 222, 222);
    box-shadow: #555 1px 1px 8px 1px;
}

.thumnail:hover{
    opacity: 1;
}

.btn{
    margin: .3em;
    font-size: 12px;
    padding: 5px;
}

div.btnOptions{
    padding-left: 3.5em;
}