<div class="container">
  <h4>{{ filterBy }}</h4>
  <div class="row">
    <div class="btnOptions">
      <button class="btn btn-lg btn-info" [class.active]="filterBy=='All'" (click)="filterBy='All'">All</button>
      <button class="btn btn-lg btn-info" [class.active]="filterBy=='Comic Heros'" (click)="filterBy='Comic Heros'">Comic Heros</button>
      <button class="btn btn-lg btn-info" [class.active]="filterBy=='Starwars'" (click)="filterBy='Starwars'">Starwars</button>
      <button class="btn btn-lg btn-info" [class.active]="filterBy=='80s TV'" (click)="filterBy='80s TV'">80s TV</button>
    </div>
    <ul id="thumnailList">
      <li *ngFor="let image of (visibleImages | imageFilter:filterBy)" >      
        <a [routerLink]="['/image', image.id]">
          <img src="{{image.url}}" class="thumnail">
        </a>
      </li>
    </ul>
  </div>
</div>

